* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #d81b60;
  margin: auto -16px;
  padding: 16px 32px;
  font-size: 1.3em;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header span {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 2em;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 300px;
  margin: 16px;
  float: left;
  font-size: 1.3em;
  font-family: 'Architects Daughter';
}
.note h1 {
  font-size: 1.3em;
  margin: 0.5em 0.1em;
}
.note p {
  font-size: 1.1em;
margin: 0.3em 0.15em;
  white-space: pre-wrap;
  word-wrap: break-word;
  color:#444;
}

.note button {
  position: relative;
  float: right;
  margin: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

form.create-note {
  font-family: 'Architects Daughter';
  position: relative;
  width: 480px;
  font-size: 1.3em;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #d81b60;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
